/* body {
  background: black;
} */

.page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  width: 24px;
  height: 24px;
  display: block;
}

button {
  outline: none;
}

.button {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  height: 100%;
  width: 100%;
  background-color: #ddd;
  -webkit-appearance: none;
  border: 2px solid;
  border-top-color: #eee;
  border-right-color: #aaa;
  border-left-color: #eee;
  border-bottom-color: #aaa;
}

.button:hover {
  background-color: #ccc;
}

.button.reveal {
  background-color: white;
  border: 2px solid #eee;
}

.button.bomb {
  background-color: blue;
}
